<h1>This is the index</h1>

<%if user_signed_in? %>
  <h5>You are <%=current_user.email%></h5>
  <%=link_to 'Log out', destroy_user_session_path, method: :delete %>
  <%=link_to 'Current user', current_user, method: :get %>
  <%=link_to 'View current user', current_user %>
  <%else%>
    <%=link_to 'Log in', new_user_session_path %>
    <%=link_to 'Sign up', new_user_registration_path %>
<%end%>