<h1 class="index-title">List of failed files</h1>
<div class="ui centered grid">
  <table class="ui very basic collapsing celled table index-table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Errors</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody>
    <% @failed_contacts.each do |contact| %>
      <tr>
        <th scope="row"><%= contact.id %></th>
        <td><%= contact.name%></td>
        <td><%= contact.contact_errors %></td>
        <td><%= FileContact.find(contact.file_contact.id).name  %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @failed_contacts %>